/* Added Thursday 22nd December 2011,

The media object allows you to have an image/flash or other fixed width media to the left or right with some content that describes it in the center.

http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

*/

/* ===== media ===== */

.media { margin: 10px;}
.media, .bd { overflow: hidden; _overflow: visible; zoom: 1;}
.media .img { float: left; margin-right: 10px;}
.media .img img { display: block;}
.media .imgExt { float: right; margin-left: 10px;}


/* the HTML

<div class="media">
    <a href="http://twitter.com/stubbornella" class="img">
        <img src="http://a3.twimg.com/profile_images/72157651/tattoo_pink_bkg_square_mini.jpg" alt="Stubbornella" />
    </a>
    <div class="bd">
        <a href="http://twitter.com/stubbornella">@Stubbornella</a> <span class="detail">14 minutes ago</span>
    </div>
</div>

 */