/* must stay on their own line! */

.your-class::-webkit-input-placeholder { color: #81569D;}
.your-class:-moz-placeholder { color: #81569D;}
.your-class::-moz-placeholder { color: #81569D;}
.your-class:-ms-input-placeholder { color: #81569D;}