// inline input alerts
.woocommerce-password-strength {
	padding: 3px .5em; 
	font-weight: 600; 
	text-align: center; 
	font-size: 1em; 

	&.short {
		background-color: #f1adad; 
    	border-color: #e35b5b; 
	}

	&.bad {
		background-color: #fbc5a9; 
    	border-color: #f78b53; 
	}

	&.good {
		background-color: #ffe399; 
    	border-color: #ffc733; 
	}

	&.strong {
		background-color: #c1e1b9; 
    	border-color: #83c373; 
	}

}