// ==============================================
// Accessible Accordion
// ==============================================

.hidden {
	display: none;
}

.accordion-container {

	.accordion--title {
		margin: 1em 0 0 0;

		button {  
			all: inherit;
			border: 1px solid black;
			padding: 5px 35px 5px 5px;
			margin: 0;
			cursor: pointer;
			width: 100%;

			&:hover,
			&:focus {
				background-color: #f9eed8;
			}

			&[aria-expanded="true"] {
				background-color: pink;
			}
		}
	}

	.accordion-panel {
		margin: 0;
		padding: 0.5em;
		border: 2px solid white;

		&:focus {
			outline: none;
			animation-name: animation;
			animation-duration: 2s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: 1;    
			animation-play-state: running;
			border: 2px solid white;
		}

		p {
			margin: 0 0 1em 0;
			padding: 0;
		}
	}
}


@-webkit-keyframes animation {
	0% {
		border-color: #f9eed8;
	}
	100.0% {
		border-color: white;
	}
}

@keyframes animation {
	0% {
		border-color: #f9eed8;
	}
	100.0% {
		border-color: white;
	}
}
